/*.nav {*/
/*    grid-area:n;*/
/*    background-color:lightgray;*/
/*    padding-bottom: 20px;*/
/*    padding-bottom: 20px;*/
/*    padding-left: 10px;*/
/*}*/

.sideBarBlock {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content:space-around;
    font-size: small;
}
.item a{
    color:cadetblue;
    font-size: x-large;
    text-decoration: none;
}
.item a:hover {
    color: white;
}
.sideBarBlock img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
